<div *ngIf="movie"  class="card">
    <div class="container">
        <h3>{{movie.title}} ({{movie.year}})</h3>
        Genre: <b>{{movie.genre}}</b> 
        <br>       
        Rated: <b>{{movie.rated}}</b>
        <br>
        Director: <b>{{movie.director}}</b>
        <br>
        <p>{{movie.plot}}</p>
        <!-- <img src="{{movie.poster}}" />     -->
        <h3>Price: {{movie.price | currency:USD}}</h3>

    </div>  
</div>
    <br>
    <br>
<div>
    <button (click)="goBack()">Back to Movies</button>      
</div>



  
  
  